@import "tailwindcss";

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  overflow: hidden;

  color: #ffffff;
  background-color: #2c2c2c;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* background-image: url("../assets/base_bg.jpg"); */
}

* {
  user-select: none;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
