@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@font-face {
    font-family: "MainFont";
    src: local("MainFont"), url("../assets/main_font.otf") format("opentype");
}

@theme {
    --color-ak-yellow: #ffff00;
    --font-second: "Inter", serif;
    --font-default: MainFont;
}